.jumbotron {
  background-color: #1E90FF;
  color: black;
  text-align: center;
  margin-top: 10px;
}
.navbar {
  background-color: cyan;
  position: fixed top;
}
.card-taller {
  flex: 1 10px;
  margin-top: 10px;
}
.btn-ingresar {
  width: 150px;
  border-radius: 0px;
  background-color: blue;
}
.footer {
  padding: 20px;
  background-color: lavender;
  margin: auto;
  text-align: center;
}
.row {
  display: flex;
  padding: 25px 25px 25px 25px;
  flex-wrap: wrap;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: lavender;
}
.flex-container > div {
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}
.text-success {
  color: green;
  padding-right: 15px;
}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
