$dodgerblue:#FFD700;
$miamarillo:#FFFF00;
$surojo:#FF0000;
$nuestroverde:#008000;
@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}

.jumbotron{
	background-color:$dodgerblue;
	color: black;
	text-align: center;
	@include margenes(15px, 0px);
}
.navbar {
	background-color:cyan;
	position:fixed top;
	}

.card-taller{
	flex: 1 10px;
	@include margenes (10px, 0px);	
}
.btn-ingresar{
	width: 150px;
	border-radius: 0px;
	background-color: blue;
}


.footer {
	padding: 20px;
	background-color:lavender;
	margin: auto;
	text-align: center;
}
 .row {  
  display: flex;
  padding: 25px 25px 25px 25px;
  flex-wrap: wrap;
 }
 .flex-container {
    display: flex;
	flex-direction:row;
    justify-content: flex-start;
    background-color: lavender;
   }

   .flex-container > div {
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
   }
  .text-success {
	  color: green;
	  padding-right: 15px;
  }
   /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  